body{
    color: #cacee9;
    background-color: #cacee9;
    background-image: url("../images/pattern.svg");
    padding: 0 7%;
}
a{
    text-decoration: none;
    color: #fff;

}
a:hover {
  color:rgb(252, 1, 97);
}
.pattern-background{
    background-image: url("../images/pattern.svg");
}
.welcome-text{
    margin: 50px 0;
}
.navbar{
    padding: 0 50px;
    text-align: left;
}
.my-logo{
    color:rgb(252, 1, 97);
    font-size: 2rem;
}
span{
    color: rgb(252, 1, 97);
    font-weight: bold;
}
/* Intro Section */

/* #intro{
    background-color: #141527;
} */
.fluid-container{
    padding: 2% 50px;
}
.resize-container{
    padding: 50px;
}
.phone{
    width: 100%;
    height: auto;
}

/* Skills section */
/* #skills{
    background-color: #1b1d32;
} */
.primary-color{
    background-color: #141527;
}
.secondary-color{
    background-color: #1b1d32;
}
.custom-row-style {
    padding: 20px 0;
    /* margin: 10px; */
}

.row-width{
    /* width: 80%;
    margin: auto; */
}
.col-text{
    text-align: left;
}
.heading-text{
    margin: 5px 0 50px;
    color:rgb(252, 1, 97);
    font-weight: 600;
}
.para-text{
    font-size: 1.5rem;
    font-weight: 500;
    /* color: #cacee9; */
}
.skills-closing{
    text-align: center;
}
.col-image{
    width: 60%;
}
.skills-closing{
    padding: 50px 0px;
}

/* buttons style */
.custom-button{
    background-color: rgb(252, 1, 97);
    color:white;
}

/* Footer */
.footer{
    text-align: center;
    padding: 50px;
}
.footer p{
    margin: 0;
    padding: 0;
}
.footer i{
    padding: 0 10px 15px;
    font-size: 2rem;
}

/* Connect page */
.about-us-container{
    padding: 50px 100px;
}
.contact-card-images{
    width: 60%;
    height: auto;
    margin: auto;
}
.card{
    padding: 5px;
    background-color: transparent;
    border: none;
}
.form-container{
    width: 50%;
    margin: auto;
    padding: 50px 30px;
}
/* Project-showcase */
.project-showcase{
    text-align: center;
}

.works-image{
    width: 50%;
    margin: auto;
}

/* Responsive CSS queries */
@media (max-width:1000px){
    body{
        padding: 0 3%;
    }
    .navbar-brand{
        font-size: 3rem;
    }
    .navbar-brand i{
        font-size: 3rem;
    }
    .navbar-toggler{
        font-size: 2.8rem;
    }
    .navbar-collapse{
        padding-top: 20px;
    }
    .nav-item{
        font-size: 2.5rem;
        text-align: center;

    }
    .welcome-text{
        font-size: 3.5rem;
    }
    .welcome-text-para{
        font-size: 2.8rem;
    }
    .btn-mobile{
        margin: 50px;
        font-size: 2.7rem;
    }
    #skills{
        text-align: center;
        padding: 5%;
    }
    .resize-container{
        /* padding: 50px auto; */
    }
    .heading-text{
        font-size: 3rem;
    }.para-text{
        font-size: 2.7rem;
    }
    #intro{
        text-align: center;
    }
    .about-us-container{
        text-align: center;
    }
    .form-container{
        width:80%;
    }
    .col-image{
        width: 30%;
    }
    .col-md-12{
        margin-bottom: 60px;
    }
    .col-text{
        padding: px;
    }
    .fluid-container{
        padding: 2% px;
    }
    .resize-container{
        padding: 5px;
    }
    .col-text{
        text-align: center;
    }
    .contact-card-images{
        width: 40%;
    }
    .footer{
        font-size: 1.8rem;
    }
    .project-description{
        font-size: 2.2rem;
    }
}